// style for dark mode

// .dark-mode{
//     width:100%;
//     height:100%;
//     background-color: #1E1E1E;
// }

// style for day mode
.day-mode{
    width:100%;
    height:100%;
    background-color: #C6C6C6;
    padding:10px 38px;
}